.DS_Store
.vscode
.env
.unused

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore plan files
*.tfplan

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore module directories
.terraform/

# Ignore variable definition files
*.tfvars

# Ignore local terraform config
.terraformrc
terraform.rc
